<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.biancabessa.primeiroprojetojava">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bessa"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bessa"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrimeiroProjetoJava">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TelaPrincipal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>